/* Override Bootstrap */
.container-fluid
{
    padding: 0;
}

/* Selection Styles */
.selected
{
    border: solid 1px green;
}

.enemy
{
    border: solid 1px red;
}
.ship
{
    background-image: url(../img/parchment.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 275px;
    margin-right: 10px;
    text-align: center;
}

.ship-name
{
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 15px;
}
.ship-img
{
    margin-left: 15px;
    padding-bottom: 25px;
    float: left;
}
.ship-info
{
    margin-top: 10px;
    margin-left: 69px;
    text-align: left;
}
.ship-info ul
{
    list-style-type: none;
}

/* Game UI */
.gameUI
{
    background-color: #ffe7cd;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#attack
{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 2;
    width: 75%;
    border-radius: 0;
    background-color: #c5a585;
}

.eventUI
{
    background-color: #D4B392;
}

.eventLog
{
    height: 50px;
    padding-top: 15px;
    overflow-y:scroll;
    text-align: left;
}

/* Arena Styles */
.arena-bg
{
    background-image: url('../img/water.gif');
    background-size: 48px;
}

.shipsArena
{
    margin: 0 auto;
    padding-left: 35%;
}

/* Battle Styles */
.explosion img
{
    position: absolute;
    top: 100px;
    left: 80px;
    width: 10%;
}

.cannonball
{
    position: absolute;
    top: 100px;
    left: 80px;
    width: 50%;
}

.explosionC img
{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 10%;
}

.cannonballC
{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 50%;
}
